<section>
    <div class="container-fluid">
        <div class="row">
            <div id="map_canvas" class="col-md-9">
                <ui-gmap-google-map control="map.control" center="map.center" zoom="map.zoom" draggable="true">
                    <!--
                    <ui-gmap-window  
                        show="map.window.show" 
                        coords="map.window.model" 
                        options="map.window.options" 
                        closeClick="map.window.closeClick()"
                        templateUrl="'/views/infowindow.tpl.html'" 
                        templateParameter="map.window">                
                    </ui-gmap-window>
-->
                    <ui-gmap-markers idKey="'id'" models="Rmarkers" coords="'coords'" click="onClick" options="'options'" >
                        <ui-gmap-windows show="'show'">                
                            <div ng-non-bindable>
                                <p id="infowindow">{{title}}</p>
                                <p id="infowindow">{{data}}</p>
                            </div>
                        </ui-gmap-windows>
                    </ui-gmap-markers>
<!--
                    <markers ng-repeat="marker in markers"  models="markers" >
                        <ui-gmap-marker  coords="marker.coords" idkey="marker.id" options="marker.options"  click="onClick()">
                            
                        </ui-gmap-marker>
                    </markers>
    -->                
                </ui-gmap-google-map>
            </div>
            <div class="col-md-3">
               <button class="btn btn-primary" ng-click="setCenter()">A Minha Localização</button>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-4" >
                <!--
                    <option value="BICYCLING">Bicycling</option>
                    <option value="TRANSIT">Transit</option>
                -->
                <select id="opts" ng-options="region.code as region.name for region in opts" ng-model="routeMode">
                    <option style="display:none" value="">Escolha o método de Viagem</option>
                </select>
                <form class="form-horizontal col-sm-4" role="form">
                    <div class="form-group">
                        <div class="form-group-item">
                            <label for="origin" class="col-sm-2 control-label">Origem</label>
                            <input type="text" id="origin" class="form-control" ng-selected="origClick()"/>
                        </div>
                        <div class="form-group-item">
                            <label for="destination" class="col-sm-2 control-label">Destino</label>
                            <input type="text" id="destination" class="form-control" ng-selected="destClick()"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-8">
                <div ng-show="alerts.showOrig" class="panel panel-primary">
                    <table class="table table-striped table-bordered" cellspacing="11" border="0" width="100%">
                        <thead>
                            <tr>
                                <th> Localidade </th>
                                <th> Descrição </th>   
                                <th> Graus </th>  
                                <th> Humidade (%) </th>  
                                <th> Vento (m/s) </th>   
                                <th> Alerta </th>
                                <th> Sismo </th>    
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="alert in origAlert">
                                <td>{{ alert.cidade.Nome }}</td>
                                <td>{{ alert.Descricao }}</td> 
                                <td>{{ alert.Temperatura }}</td>
                                <td>{{ alert.Humidade }}</td>
                                <td>{{ alert.Vento  }}</td> 
                                <td>{{ alert.cidade.distrito.aviso.Cor }}</td>
                                <td>{{ alert.cidade.sismo.Descricao }}</td>  
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="alerts.showDest" class="panel panel-primary">
                    <table class="table table-striped table-bordered" cellspacing="11" border="0" width="100%">
                        <thead>
                            <tr>
                                <th> Localidade </th>
                                <th> Descrição </th>  
                                <th> Graus </th>  
                                <th> Humidade (%) </th>  
                                <th> Vento (m/s) </th>   
                                <th> Alerta </th>
                                <th> Sismo </th>    
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ destAlert[0].cidade.Nome }}</td>
                                <td>{{ destAlert[0].Descricao }}</td> 
                                <td>{{ destAlert[0].Temperatura }}</td>
                                <td>{{ destAlert[0].Humidade }}</td>
                                <td>{{ destAlert[0].Vento }}</td> 
                                <td>{{ destAlert[0].cidade.distrito.aviso.Cor }}</td>
                                <td>{{ destAlert[0].cidade.sismo.Descricao }}</td>  
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-primary" ng-click="getDirections()">Obter Direções</button>
                <button class="btn btn-primary" ng-click="clearRoute()">Limpar</button>
            </div>
        </div>
        <div id="directionsList" ng-show="directions.showList" class="panel panel-primary"></div>
            
    </div>
</section>